@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Chilanka&family=Comfortaa&family=Share+Tech+Mono&display=swap');

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Share Tech Mono';
  }
  
  .button-login {
    background-color: #415a77;
    color: white;
    margin-right: 20px;
  }
  
  .button-login:hover {
    background-color: #000080;
  }
  
  .button-register {
    background-color: #415a77;
    color: white;
    margin-right: 20px;
  }
  
  .button-register:hover {
    background-color: #000080;
  }
  
  .button-home {
    background-color: #415a77;
    color: white;
  }
  
  .button-home:hover {
    background-color: #000080;
  }
  